In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot
import seaborn

In [3]:
df=pd.read_csv("data_file.csv")

In [4]:
df.head()

,name,id,description,url,price,priceInWord,location,flatDetails,agentDetails
0,"3 BHK Flat for Sale The Peaceful Homes, in ...",domcache_srp_37269893,"4 Bath,Semi-Furnished,30 floor In AIPLs defini...",https://www.magicbricks.com/propertyDetails/3-...,17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN..."
1,"4 BHK Flat for Sale Oyster Grande, in Secto...",domcache_srp_40010355,"5 Bath,Semi-Furnished,21 floor Oyster Grande i...",https://www.magicbricks.com/propertyDetails/4-...,21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad..."
2,"3 BHK Flat for Sale Windchants, in Sector 112",domcache_srp_40592617,"4 Bath,Semi-Furnished,27 floor Come home every...",https://www.magicbricks.com/propertyDetails/3-...,23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',..."
3,"2 BHK Flat for Sale Ashiana Anmol, in Secto...",domcache_srp_38648575,"2 Bath,Unfurnished Ashiana Anmol brings a kid ...",https://www.magicbricks.com/propertyDetails/2-...,7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam..."
4,"3 BHK Flat for Sale Happy Homes, in Sohna R...",domcache_srp_43307317,"2 Bath,Unfurnished,4 floor Happy Homes is one ...",https://www.magicbricks.com/propertyDetails/3-...,12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN..."

In [5]:
df.shape

(57423, 9)

In [6]:
df["location"][0]

"{'cityName': 'Gurgaon', 'addressLocality': 'Sector 70A', 'longitude': '28.38366', 'latitude': '77.017841'}"

In [7]:
df.drop(["url","id"],inplace=True,axis=1)

In [8]:
df.head()

,name,description,price,priceInWord,location,flatDetails,agentDetails
0,"3 BHK Flat for Sale The Peaceful Homes, in ...","4 Bath,Semi-Furnished,30 floor In AIPLs defini...",17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN..."
1,"4 BHK Flat for Sale Oyster Grande, in Secto...","5 Bath,Semi-Furnished,21 floor Oyster Grande i...",21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad..."
2,"3 BHK Flat for Sale Windchants, in Sector 112","4 Bath,Semi-Furnished,27 floor Come home every...",23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',..."
3,"2 BHK Flat for Sale Ashiana Anmol, in Secto...","2 Bath,Unfurnished Ashiana Anmol brings a kid ...",7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam..."
4,"3 BHK Flat for Sale Happy Homes, in Sohna R...","2 Bath,Unfurnished,4 floor Happy Homes is one ...",12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN..."

In [9]:
df.columns

Index(['name', 'description', 'price', 'priceInWord', 'location',
       'flatDetails', 'agentDetails'],
      dtype='object')

In [10]:
df["name"]=df["name"].apply(lambda x: x.split("Sale")[1])

In [11]:
df["name"]=df["name"].apply(lambda x: x.strip())

In [12]:
df["name"]=df["name"].apply(lambda x: x.capitalize())

In [13]:
df["name"]=df["name"].apply(lambda x: x.split("In")[1].strip() if "In" in x else x)

In [14]:
df["name"]=df["name"].apply(lambda x: x.split(",")[0])

In [15]:
df["name"]=df["name"].apply(lambda x: x.replace(x,"") if "sector" in x else x)

In [16]:
df["name"].to_csv("name.csv")

In [17]:
df["name"].unique().shape

(5388,)

In [18]:
df["name"].shape

(57423,)

In [19]:
df.head()

,name,description,price,priceInWord,location,flatDetails,agentDetails
0,The peaceful homes,"4 Bath,Semi-Furnished,30 floor In AIPLs defini...",17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN..."
1,Oyster grande,"5 Bath,Semi-Furnished,21 floor Oyster Grande i...",21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad..."
2,Windchants,"4 Bath,Semi-Furnished,27 floor Come home every...",23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',..."
3,Ashiana anmol,"2 Bath,Unfurnished Ashiana Anmol brings a kid ...",7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam..."
4,Happy homes,"2 Bath,Unfurnished,4 floor Happy Homes is one ...",12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN..."

In [20]:
df["location"][0]

"{'cityName': 'Gurgaon', 'addressLocality': 'Sector 70A', 'longitude': '28.38366', 'latitude': '77.017841'}"

In [21]:
import ast
df["location"]=df["location"].apply(lambda x: ast.literal_eval(x))

In [22]:
df["location"][0]["cityName"]

'Gurgaon'

In [23]:
df["location"].dtype

dtype('O')

In [24]:
df["location"][1]

{'cityName': 'Gurgaon',
 'addressLocality': 'Sector 102',
 'longitude': '28.481092',
 'latitude': '76.971563'}

In [25]:
pd.DataFrame([df["location"][0]])

  cityName addressLocality longitude   latitude
0  Gurgaon      Sector 70A  28.38366  77.017841

In [26]:
print(df["location"][0].keys())
print(df["location"][0].values())

dict_keys(['cityName', 'addressLocality', 'longitude', 'latitude'])
dict_values(['Gurgaon', 'Sector 70A', '28.38366', '77.017841'])

In [27]:
cityName=[]
addressLocality=[]
longitude=[]
latitude=[]

In [28]:
df["location"].index

RangeIndex(start=0, stop=57423, step=1)

In [29]:
df["location"].shape

(57423,)

In [30]:
i=-1
while True:
    i=i+1
    cityName.append(df["location"][i]["cityName"])
    addressLocality.append(df["location"][i]["addressLocality"])
    longitude.append(df["location"][i]["longitude"])
    latitude.append(df["location"][i]["latitude"])
    if i==57422:
        break

In [31]:
df["cityName"]=cityName
df["addressLocality"]=addressLocality
df["longitude"]=longitude
df["latitude"]=latitude

In [32]:
df["latitude"].isnull().value_counts()

False    57423
Name: latitude, dtype: int64

In [33]:
df.head()

,name,description,price,priceInWord,location,flatDetails,agentDetails,cityName,addressLocality,longitude,latitude
0,The peaceful homes,"4 Bath,Semi-Furnished,30 floor In AIPLs defini...",17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN...",Gurgaon,Sector 70A,28.38366,77.017841
1,Oyster grande,"5 Bath,Semi-Furnished,21 floor Oyster Grande i...",21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad...",Gurgaon,Sector 102,28.481092,76.971563
2,Windchants,"4 Bath,Semi-Furnished,27 floor Come home every...",23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',...",Gurgaon,Sector 112,28.50053638,77.00771237
3,Ashiana anmol,"2 Bath,Unfurnished Ashiana Anmol brings a kid ...",7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam...",Gurgaon,Sector 33,28.27024413,77.06690896
4,Happy homes,"2 Bath,Unfurnished,4 floor Happy Homes is one ...",12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN...",Gurgaon,Sohna Road,,

In [34]:
df["flatDetails"][0]

"{'numberOfRooms': '3', 'bathroom': '4', 'bedroom': '3', 'floorSize': '2350 FTK ', 'floorno': '30', 'furnshingstatus': 'Semi-Furnished'}"

In [35]:
numberOfRooms=[]
bathroom=[]
bedroom=[]
floorSize=[]
floorno=[]
furnshingstatus=[]

In [36]:
df["flatDetails"]=df["flatDetails"].apply(lambda x: ast.literal_eval(x))

In [37]:
i=-1
while True:
    i=i+1
    numberOfRooms.append(df["flatDetails"][i]["numberOfRooms"])
    bathroom.append(df["flatDetails"][i]["bathroom"])
    bedroom.append(df["flatDetails"][i]["bedroom"])
    floorSize.append(df["flatDetails"][i]["floorSize"])
    floorno.append(df["flatDetails"][i]["floorno"])
    furnshingstatus.append(df["flatDetails"][i]["furnshingstatus"])    
    if i==57422:
        break

In [38]:
df["numberOfRooms"]=numberOfRooms
df["bathroom"]=bathroom
df["bedroom"]=bedroom
df["floorSize"]=floorSize
df["floorno"]=floorno
df["bathroom"]=bathroom
df["furnshingstatus"]=furnshingstatus

In [39]:
df.head()

,name,description,price,priceInWord,location,flatDetails,agentDetails,cityName,addressLocality,longitude,latitude,numberOfRooms,bathroom,bedroom,floorSize,floorno,furnshingstatus
0,The peaceful homes,"4 Bath,Semi-Furnished,30 floor In AIPLs defini...",17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN...",Gurgaon,Sector 70A,28.38366,77.017841,3,4,3,2350 FTK,30,Semi-Furnished
1,Oyster grande,"5 Bath,Semi-Furnished,21 floor Oyster Grande i...",21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad...",Gurgaon,Sector 102,28.481092,76.971563,4,5,4,3200 FTK,21,Semi-Furnished
2,Windchants,"4 Bath,Semi-Furnished,27 floor Come home every...",23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',...",Gurgaon,Sector 112,28.50053638,77.00771237,3,4,3,2802 FTK,27,Semi-Furnished
3,Ashiana anmol,"2 Bath,Unfurnished Ashiana Anmol brings a kid ...",7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam...",Gurgaon,Sector 33,28.27024413,77.06690896,2,2,2,1275 FTK,,Unfurnished
4,Happy homes,"2 Bath,Unfurnished,4 floor Happy Homes is one ...",12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN...",Gurgaon,Sohna Road,,,3,2,3,1600 FTK,4,Unfurnished

In [40]:
df["agentDetails"][0]

"{'agentName': 'Pranav  Gulati', 'agentCompanyName': 'AIPL ', 'agentMaskedmobilenumber': '+91-96XXXXXXX42'}"

In [41]:
df["agentDetails"]=df["agentDetails"].apply(lambda x: ast.literal_eval(x))

In [42]:
agentName=[]
agentCompanyName=[] 
agentMaskedmobilenumber=[]

In [43]:
i=-1
while True:
    i=i+1
    agentName.append(df["agentDetails"][i]["agentName"])
    agentCompanyName.append(df["agentDetails"][i]["agentCompanyName"])
    agentMaskedmobilenumber.append(df["agentDetails"][i]["agentMaskedmobilenumber"])  
    if i==57422:
        break

In [44]:
df["agentName"]=agentName
df["agentCompanyName"]=agentCompanyName
df["agentMaskedmobilenumber"]=agentMaskedmobilenumber

In [45]:
df.head()

,name,description,price,priceInWord,location,flatDetails,agentDetails,cityName,addressLocality,longitude,latitude,numberOfRooms,bathroom,bedroom,floorSize,floorno,furnshingstatus,agentName,agentCompanyName,agentMaskedmobilenumber
0,The peaceful homes,"4 Bath,Semi-Furnished,30 floor In AIPLs defini...",17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN...",Gurgaon,Sector 70A,28.38366,77.017841,3,4,3,2350 FTK,30,Semi-Furnished,Pranav Gulati,AIPL,+91-96XXXXXXX42
1,Oyster grande,"5 Bath,Semi-Furnished,21 floor Oyster Grande i...",21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad...",Gurgaon,Sector 102,28.481092,76.971563,4,5,4,3200 FTK,21,Semi-Furnished,Adani,Adani Realty,+91-99XXXXXXX48
2,Windchants,"4 Bath,Semi-Furnished,27 floor Come home every...",23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',...",Gurgaon,Sector 112,28.50053638,77.00771237,3,4,3,2802 FTK,27,Semi-Furnished,Experion Developers Pvt. Ltd.,Experion Developers Pvt. Ltd.,+91-97XXXXXXX74
3,Ashiana anmol,"2 Bath,Unfurnished Ashiana Anmol brings a kid ...",7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam...",Gurgaon,Sector 33,28.27024413,77.06690896,2,2,2,1275 FTK,,Unfurnished,Rakesh Kumar,Ashiana Housing Limited,+91-88XXXXXXX66
4,Happy homes,"2 Bath,Unfurnished,4 floor Happy Homes is one ...",12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN...",Gurgaon,Sohna Road,,,3,2,3,1600 FTK,4,Unfurnished,Dishant Arora,Investors Home,+91-96XXXXXXX31

In [46]:
df.to_csv("cleaned_data.csv")

In [48]:
df.head()

,name,description,price,priceInWord,location,flatDetails,agentDetails,cityName,addressLocality,longitude,latitude,numberOfRooms,bathroom,bedroom,floorSize,floorno,furnshingstatus,agentName,agentCompanyName,agentMaskedmobilenumber
0,The peaceful homes,"4 Bath,Semi-Furnished,30 floor In AIPLs defini...",17500000.0,1.75 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Pranav Gulati', 'agentCompanyN...",Gurgaon,Sector 70A,28.38366,77.017841,3,4,3,2350 FTK,30,Semi-Furnished,Pranav Gulati,AIPL,+91-96XXXXXXX42
1,Oyster grande,"5 Bath,Semi-Furnished,21 floor Oyster Grande i...",21100000.0,2.11 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '4', 'bathroom': '5', 'bedro...","{'agentName': 'Adani', 'agentCompanyName': 'Ad...",Gurgaon,Sector 102,28.481092,76.971563,4,5,4,3200 FTK,21,Semi-Furnished,Adani,Adani Realty,+91-99XXXXXXX48
2,Windchants,"4 Bath,Semi-Furnished,27 floor Come home every...",23200000.0,2.32 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '3', 'bathroom': '4', 'bedro...","{'agentName': 'Experion Developers Pvt. Ltd.',...",Gurgaon,Sector 112,28.50053638,77.00771237,3,4,3,2802 FTK,27,Semi-Furnished,Experion Developers Pvt. Ltd.,Experion Developers Pvt. Ltd.,+91-97XXXXXXX74
3,Ashiana anmol,"2 Bath,Unfurnished Ashiana Anmol brings a kid ...",7320000.0,73.2 Lac,"{'cityName': 'Gurgaon', 'addressLocality': 'Se...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rakesh Kumar', 'agentCompanyNam...",Gurgaon,Sector 33,28.27024413,77.06690896,2,2,2,1275 FTK,,Unfurnished,Rakesh Kumar,Ashiana Housing Limited,+91-88XXXXXXX66
4,Happy homes,"2 Bath,Unfurnished,4 floor Happy Homes is one ...",12000000.0,1.20 Cr,"{'cityName': 'Gurgaon', 'addressLocality': 'So...","{'numberOfRooms': '3', 'bathroom': '2', 'bedro...","{'agentName': 'Dishant Arora', 'agentCompanyN...",Gurgaon,Sohna Road,,,3,2,3,1600 FTK,4,Unfurnished,Dishant Arora,Investors Home,+91-96XXXXXXX31

In [50]:
df.isnull().sum()

name                         0
description                 33
price                      176
priceInWord                  0
location                     0
flatDetails                  0
agentDetails                 0
cityName                     0
addressLocality              0
longitude                    0
latitude                     0
numberOfRooms                0
bathroom                     0
bedroom                      0
floorSize                    0
floorno                      0
furnshingstatus              0
agentName                    0
agentCompanyName             0
agentMaskedmobilenumber      0
dtype: int64

In [54]:
df[df["price"].isnull()]

,name,description,price,priceInWord,location,flatDetails,agentDetails,cityName,addressLocality,longitude,latitude,numberOfRooms,bathroom,bedroom,floorSize,floorno,furnshingstatus,agentName,agentCompanyName,agentMaskedmobilenumber
6376,noida extention,A well located <BHK> BHK <PropType> on <fl> ...,NaN,Call for Price,"{'cityName': 'Greater Noida', 'addressLocality...","{'numberOfRooms': '', 'bathroom': '', 'bedroom...","{'agentName': 'vijay', 'agentCompanyName': '',...",Greater Noida,Noida Extention,,,,,,,,,vijay,,+91-88XXXXXXX53
6377,Oasis venetia heights,"2 Bath,Unfurnished,17 floor Multistorey Apar...",NaN,Call for Price,"{'cityName': 'Greater Noida', 'addressLocality...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'AJIT', 'agentCompanyName': '', ...",Greater Noida,Greater Noida West,28.5145122108668,77.5220350924981,2,2,2,1150 FTK,17,Unfurnished,AJIT,,+91-99XXXXXXX58
6378,alpha 2 block i,"2 Bath,Furnished This Residential House of to...",NaN,Call for Price,"{'cityName': 'Greater Noida', 'addressLocality...","{'numberOfRooms': '2', 'bathroom': '2', 'bedro...","{'agentName': 'Rupesh', 'agentCompanyName': ''...",Greater Noida,Alpha 2 Block I,,,2,2,2,1200 FTK,,Furnished,Rupesh,,+91-99XXXXXXX25
6379,pi 1 & 2,"3 Bath,Semi-Furnished,1 floor This Multistore...",NaN,Call for Price,"{'cityName': 'Greater Noida', 'addressLocality...","{'numberOfRooms': '3', 'bathroom': '3', 'bedro...","{'agentName': 'daljit', 'agentCompanyName': ''...",Greater Noida,PI 1 & 2,,,3,3,3,2200 FTK,1,Semi-Furnished,daljit,,+91-98XXXXXXX49
6380,alpha 2 block f,"3 Bath,Semi-Furnished A 2 storeyed Residentia...",NaN,Call for Price,"{'cityName': 'Greater Noida', 'addressLocality...","{'numberOfRooms': '5', 'bathroom': '3', 'bedro...","{'agentName': 'Indradeo Singh', 'agentCompanyN...",Greater Noida,Alpha 2 Block F,,,5,3,5,120 FTK,,Semi-Furnished,Indradeo Singh,,+91-98XXXXXXX63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47821,,"1 Bath,Unfurnished,2 floor It's a 2nd floor B...",NaN,Call for Price,"{'cityName': 'Faridabad', 'addressLocality': '...","{'numberOfRooms': '2', 'bathroom': '1', 'bedro...","{'agentName': 'Jaya Srivastav', 'agentCompanyN...",Faridabad,Sector 76,,,2,1,2,50 FTK,2,Unfurnished,Jaya Srivastav,,+91-87XXXXXXX06
47822,,"1 Bath,Unfurnished,2 floor It's a 2nd floor B...",NaN,Call for Price,"{'cityName': 'Faridabad', 'addressLocality': '...","{'numberOfRooms': '2', 'bathroom': '1', 'bedro...","{'agentName': 'Jaya Srivastav', 'agentCompanyN...",Faridabad,Sector 76,,,2,1,2,50 FTK,2,Unfurnished,Jaya Srivastav,,+91-87XXXXXXX06
47823,,"1 Bath,Unfurnished,2 floor It's a 2nd floor B...",NaN,Call for Price,"{'cityName': 'Faridabad', 'addressLocality': '...","{'numberOfRooms': '2', 'bathroom': '1', 'bedro...","{'agentName': 'Jaya Srivastav', 'agentCompanyN...",Faridabad,Sector 76,,,2,1,2,50 FTK,2,Unfurnished,Jaya Srivastav,,+91-87XXXXXXX06
47824,,"1 Bath,Unfurnished,2 floor It's a 2nd floor B...",NaN,Call for Price,"{'cityName': 'Faridabad', 'addressLocality': '...","{'numberOfRooms': '2', 'bathroom': '1', 'bedro...","{'agentName': 'Jaya Srivastav', 'agentCompanyN...",Faridabad,Sector 76,,,2,1,2,50 FTK,2,Unfurnished,Jaya Srivastav,,+91-87XXXXXXX06
47825,,"1 Bath,Unfurnished,2 floor It's a 2nd floor B...",NaN,Call for Price,"{'cityName': 'Faridabad', 'addressLocality': '...","{'numberOfRooms': '2', 'bathroom': '1', 'bedro...","{'agentName': 'Jaya Srivastav', 'agentCompanyN...",Faridabad,Sector 76,,,2,1,2,50 FTK,2,Unfurnished,Jaya Srivastav,,+91-87XXXXXXX06

In [61]:
df["price"].fillna("callforprice",inplace=True)

In [62]:
df["price"].isnull().sum()

0

In [72]:
df.isnull().sum()

name                        0
description                33
price                       0
priceInWord                 0
location                    0
flatDetails                 0
agentDetails                0
cityName                    0
addressLocality             0
longitude                   0
latitude                    0
numberOfRooms               0
bathroom                    0
bedroom                     0
floorSize                   0
floorno                     0
furnshingstatus             0
agentName                   0
agentCompanyName            0
agentMaskedmobilenumber     0
dtype: int64